<div class="filter">
  <div class="management-actions">
    <div class="management-user-actions">
      <button mat-flat-button>
        <div>
          Добавить
          <mat-icon>add_circle</mat-icon>
        </div>
      </button>
      <button mat-flat-button (click)="onAction.emit(AgentAction.UNBAN)">
        <div>
          Разблокировать
          <mat-icon>check_circle</mat-icon>
        </div>
      </button>
      <button mat-flat-button (click)="onAction.emit(AgentAction.BAN)">
        <div>Заблокировать <mat-icon>cancel</mat-icon></div>
      </button>
    </div>
    <div class="management-filter">
      <button mat-flat-button disabled>Фильтр</button>
    </div>
  </div>
  <div class="filter-title">Фильтр</div>
  <form class="filter-inputs" [formGroup]="formGroup">
    <div
      class="form-input"
      [class.error]="login?.invalid && (login?.dirty || login?.touched)"
    >
      <div class="form-label">Логин</div>
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <input
          matInput
          placeholder="Логин"
          formControlName="login"
          [errorStateMatcher]="matcher"
        />
        @if (login?.hasError('pattern')) {
        <mat-error>Incorrect login</mat-error>
        }
        <mat-icon
          *ngIf="login?.value"
          matSuffix
          (click)="$event.stopPropagation(); login?.reset()"
          >cancel</mat-icon
        >
      </mat-form-field>
    </div>
    <div
      class="form-input"
      [class.error]="phone?.invalid && (phone?.dirty || phone?.touched)"
    >
      <div class="form-label">Телефон</div>
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <input
          matInput
          placeholder="Телефон"
          formControlName="phone"
          appPhoneNumber
          [errorStateMatcher]="matcher"
        />
        @if (phone?.hasError('pattern')) {
        <mat-error>Incorrect Phone Number</mat-error>
        }
        <mat-icon
          *ngIf="phone?.value"
          matSuffix
          (click)="$event.stopPropagation(); phone?.reset()"
          >cancel</mat-icon
        >
      </mat-form-field>
    </div>
    <div class="form-input">
      <div class="form-label">Дата создания</div>
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <input
          matInput
          [matDatepicker]="createDateDrop"
          placeholder="Дата создания"
          formControlName="create_at"
        />
        <mat-datepicker #createDateDrop></mat-datepicker>
        <div matSuffix>
          <mat-datepicker-toggle [for]="createDateDrop">
            <mat-icon matDatepickerToggleIcon>apps</mat-icon>
          </mat-datepicker-toggle>
          <mat-icon
            *ngIf="createDate?.value"
            (click)="$event.stopPropagation(); createDate?.reset()"
            >cancel</mat-icon
          >
        </div>
      </mat-form-field>
    </div>
    <div
      class="form-input"
      [class.error]="email?.invalid && (email?.dirty || email?.touched)"
    >
      <div class="form-label">E-mail</div>
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <input
          matInput
          placeholder="E-mail"
          formControlName="email"
          [errorStateMatcher]="matcher"
        />
        @if (email?.hasError('email')) {
        <mat-error>Недопустимые символы</mat-error>
        }
        <mat-icon
          *ngIf="email?.value"
          matSuffix
          (click)="$event.stopPropagation(); email?.reset()"
          >cancel</mat-icon
        >
      </mat-form-field>
    </div>
    <div class="form-input">
      <div class="form-label">Роль</div>
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <mat-select placeholder="Роль" formControlName="is_admin">
          @for (item of roleDropdown; track item.key) {<mat-option
            [value]="item.key"
          >
            {{ item.value }}
          </mat-option>
          }
        </mat-select>
        <mat-icon
          *ngIf="role?.value != null"
          matSuffix
          (click)="$event.stopPropagation(); role?.reset()"
          >cancel</mat-icon
        >
      </mat-form-field>
    </div>
    <div class="form-input">
      <div class="form-label">Дата изменения</div>
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <input
          matInput
          [matDatepicker]="modifyDateDrop"
          placeholder="Дата изменения"
          formControlName="update_at"
        />
        <div matSuffix>
          <mat-datepicker-toggle [for]="modifyDateDrop">
            <mat-icon matDatepickerToggleIcon>apps</mat-icon>
          </mat-datepicker-toggle>
          <mat-icon
            *ngIf="modifyDate?.value"
            matSuffix
            (click)="$event.stopPropagation(); modifyDate?.reset()"
            >cancel</mat-icon
          >
        </div>
        <mat-datepicker #modifyDateDrop></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-input">
      <div class="form-label">Статус</div>
      <mat-form-field
        class="example-full-width"
        appearance="outline"
        subscriptSizing="dynamic"
      >
        <mat-select placeholder="Статус" formControlName="status">
          @for (item of statusDropdown; track item.key) {

          <mat-option [value]="item.key">{{ item.value }}</mat-option>
          }
        </mat-select>
        <mat-icon
          *ngIf="status?.value"
          matSuffix
          (click)="$event.stopPropagation(); status?.reset()"
          >cancel</mat-icon
        >
      </mat-form-field>
    </div>
  </form>
  <div class="filter-actions">
    <button mat-flat-button (click)="filterData()">Применить</button>
    <button mat-flat-button>Отмена</button>
    <button mat-flat-button (click)="formGroup.reset(); filterData()">
      Сбросить
    </button>
  </div>
</div>
