header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #da2032;
  height: 70px;
  .header-profile {
    display: flex;
    gap: 7px;
    align-items: center;
    mat-icon {
      background-color: #c4c4c4;
      color: #fff;
      border-radius: 50%;
      font-size: 32px;
      height: 32px;
      width: 32px;
    }

    .profile-info {
      color: #fff;
      font-size: 14px;
      font-weight: 700;
    }
  }
}
