<div class="app-header">
  <app-header></app-header>
</div>
<div class="container">
  <app-sidenav></app-sidenav>
</div>

<div
  class="content"
  [ngClass]="isSidebarVisible ? 'with-sidebar' : 'without-sidebar'"
>
  <div class="management">
    <div class="go-back">Назад</div>
    <div class="management-title">
      Настройка учетных записей сотрудников контрагента
    </div>
    <div class="management-actions">
      <div class="management-user-actions">
        <button mat-flat-button>
          Добавить
          <mat-icon>cancel</mat-icon>
        </button>
        <button mat-flat-button>
          <mat-icon>cancel</mat-icon>
          Разблокировать
        </button>
        <button mat-flat-button>
          <mat-icon>cancel</mat-icon>
          Заблокировать
        </button>
      </div>
      <div class="management-filter">
        <button mat-flat-button disabled>Фильтр</button>
      </div>
    </div>
    <app-agent-card></app-agent-card>
  </div>
</div>
